.header-section {
    background-color: #fff !important;
}

button:where(:not(.components-button):not([class*="wp-block-social"]):not([id="elementor-editor-button"])), input[type="button"], input[type="reset"], input[type="submit"], .theme_button, .post_item .more-link, .wp-block-button__link, .elementor-button, .sc_button_default, .elementor-button  {
    background-color: #AE0C21 !important;
    transition: all 0.3s ease;
    &:hover {
        background-color: #8E091B !important;
    }
}
.elementor-51 .elementor-element.elementor-element-1f317b2b .trx-addons-marquee {
    color: #AE0C21 !important;
}

svg {
    fill: #ae2723 !important;
}


.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    background-color: transparent;
    align-items: center;
    margin: 30px 0;
}

.filters .field {
    border: 1px solid #fff;
    padding: 0;
    border-radius: 30px;
    min-width: 200px;
    background-color: transparent;
}

.filters .field:focus-within {
    border-color: #fff;
}

.filters label {
    display: none
}

.filters select,
.filters input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    &:hover {
        color: #fff;
    }
    &:focus {
        background-color: transparent;
    }
}


.blogGrid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .postCard {
        width: calc((100% - 40px) / 3);
        @media (max-width: 900px) {
            width: calc((100% - 20px) / 2);
        }
        @media (max-width: 600px) {
            width: 100%;
        }
        padding: 20px;
        background: #f4e9e0;
        .postBody {
            color: #051836;
            .postMeta {
                margin: 0;
                font-size: 14px;
            }
            .postTitle {
                margin: 20px 0;
            }
        }
        .postFooter {
            .link {
                color: #AE0C21;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.blogSection {
    max-width: 1330px;
    margin: auto;
    padding: 0 20px 100px;
    .btn.primary {
        margin-top: 30px;
    }
}

.sectionHeader {
    text-align: center;
}
.elementor-51 .elementor-element.elementor-element-c2e624f > .elementor-widget-container, .elementor-51 .elementor-element.elementor-element-08cfd7e {
    margin: 0px !important;
}


.social-media-box {
    h4 {
        font-size: 16px;
        color: #fff;
    }
    .footerSocial {
        margin-top: 18px;
        display: flex;
        gap: 12px;
        justify-content: flex-start;
        .socialLink {
            width: 44px;
            height: 41px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #6D7174;
            transition: all .2s ease;
            opacity: .9;
            background: rgba(255, 255, 255, .18);
            &:hover {
                background: rgba(255, 255, 255, .3);
                opacity: 1;
            }
            svg {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }
}
